<!-- edit_user.html -->
{% extends "layout.html" %}
{% block body %}

<h1>Edit User</h1>

<form method="POST">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" id="email" value="{{ user.email }}" required>
    </div>
    <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" name="first_name" id="first_name" value="{{ user.first_name }}" required>
    </div>
    <div class="form-group">
        <label for="password">Password (leave blank to keep current)</label>
        <input type="password" class="form-control" name="password" id="password">
    </div>
    <button type="submit" class="btn btn-primary">Update User</button>
</form>

{% endblock %}