<!-- This is the login page -->
{% extends "layout.html" %}
{% block body %}

<body class="kk-body">
    <div class="kk-login-container">
   
        <h1 class="kk-title" style="color: black;">BookMatch</h1>
        <form method="POST" action="{{ url_for('auth.login') }}">
            <input type="name" class="kk-input" name="name" placeholder="Name" required> 
            <input type="email" class="kk-input" name="email" placeholder="Email" required style="text-transform: lowercase;">
            <input type="password" class="kk-input" name="password" placeholder="Password" required>
            <button type="submit" class="kk-button">Login</button>
        </form>
        <div class="kk-register">
            <p>Don't have an account? <a href="{{ url_for('auth.sign_up') }}">Register here</a></p>
        </div>
        <div class="kk-footer">
            <p>&copy; 2024 BookMatch</p>
        </div>
    </div>
</body>
{% endblock %}